<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300&display=swap');
</style>
</head>
<body>

{% extends 'base.html' %}
{% block body %}

<br><br><br>
<div class='container mx-1'>
<div class="row">
    <div class="col-md-12 col-lg-2"></div>

    <div class="col-md-12 col-lg-6 text-center fs-1">
    <h1  style="font-family: 'Fredoka One', cursive; " class="animate__animated animate__fadeInDown">
        Share your presence with our digital cards
    </h1>
     <p class = "my-1 py-4 text-center">
       Simple solution for content creators at one place 
    </p>
    <p class = "my-1 py-4 text-center">
       Make your own <span style="color:#6c63ff"> buisness card </span>  & stand out in pool of content 
    </p>

    <div>
        <button type="button" class="btn btn-dark" data-mdb-ripple-color="dark">Get Started </button>
    </div>
    </div>

    <div class="col-md-12 col-lg-4 ">

  <div class="container">
     <img style="display: flex; align-items: center;"  src="static/landing_img/img6.png" class="img-fluid " alt="..." />
  </div>

     
     </div>
</div>
</div>

<br><br>
<br><br>

<div class="container">
  <div class="row">
   <div class ="col-lg-1"></div>
      <div class ="col-lg-4">
      <center>
          <img src="static/landing_img/panda.gif"height="150px" width="200px"/>
          </center>
      </div>
      <div class="col-lg-6">
      <center>
      <h1 style="font-family: 'Fredoka One', cursive;">Cycling hard to manage cards ?</h1>
      <p><span style="color:#6c63ff"> Powerfull solution for  content creators to promote themself. </span><br><br>
      compress all your personal and professional info into just one link for 
      Hastle free sharing and branding yourself . <br>

      Learn more about digital cards for content creaters <a style="color:blue"> here </a>
      </p>
      </center>
      </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<div class = "container">
<div class = "row">
<div class="col-lg-0"></div> 

<div class = "col-lg-5  " >

<center>
<h1 style="font-family: 'Fredoka One', cursive;" class="">Rocking cards !</h1>
<br>

<p >Setup your profile and start sharing with others .</p>

<p>Smart sharing using QR Codes  <img src = "static/landing_img/card/qr-code.png" height ="20px" width="20px" class="button mx-1"> </p>
<p>UPI Support for fast payments  <img src = "static/landing_img/card/upi.png" height ="40px" width="40px" class="button mx-1"> </p>
<p>Cardfy varified profiles     <img src = "static/landing_img/card/verified.png" height ="20px" width="20px" class="button mx-1"> </p>
<p>Rating support for popularity checks <img src = "static/landing_img/card/star.png" height ="20px" width="20px" class="button mx-1"> </p>
<br>
<br>
<p> <img src = "static/landing_img/playStore.png"  height="70px" width="190px" class="img button mx-1"> </p>
<center>




</div>
<div class = "col-lg-5 "  style="margin:auto;">

<div class="card  text-center">
  <div class="card-header ">
                        Cardfy varified creator 
                        <img src = "static/landing_img/card/verified.png" height ="20px" width="20px" class="mx-1"></div>
  <div class="card-body ">
        
    <p class="card-text">
             <img class="rounded-circle z-depth-2 " alt="100x100" src="https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png"
                    data-holder-rendered="true" height="255px" width="255px">
    </p>
    
    <h4>Stifnie Roger</h4>
    <p style="font-family: 'Architects Daughter', cursive;">Vlogger  <img src = "static/landing_img/card/youtube.png" height ="20px" width="20px" class="mx-1"> 
    | Caring<img src = "static/landing_img/card/passion.png" height ="20px" width="20px" class="mx-1"> 
    | Nature lover  <img src = "static/landing_img/card/nature.png" height ="20px" width="20px" class="mx-1">  
    </p>

    <div class ="text-muted" style="font-family: 'Open Sans', sans-serif;">
        Hey ! I am currently working as full time vlogger. It's too fun to meet new people everyday, you are one the the most valuable  out there <br><br>
        Checkout my social profiles and do follow me ! <br>
    </div>
    <br>
    <div class = "row">
      <div class ="col -lg-2">
      <a class="button">
        <img src = "static/landing_img/card/facebook.png" height ="30px" width="30px" class="button mx-1"> 
       </a>
      </div>
      <div class ="col -lg-2">
      <a class="button">
        <img src = "static/landing_img/card/instagram.png" height ="30px" width="30px" class="button mx-1"> 
       </a>
      </div>
      <div class ="col -lg-2">
      <a class="button">
        <img src = "static/landing_img/card/twitter.png" height ="30px" width="30px" class="button mx-1"> 
       </a>
      </div>

      <div class ="col -lg-2">
      <a class="button">
        <img src = "static/landing_img/card/linkedin.png" height ="30px" width="30px" class="button mx-1"> 
       </a>
      </div>
          <div class ="col -lg-2">
      <a class="button">
        <img src = "static/landing_img/card/whatsapp.png" height ="30px" width="30px" class="button mx-1"> 
       </a>
      </div>
          <div class ="col -lg-2">
      <a class="button">
        <img src = "static/landing_img/card/gmail.png" height ="30px" width="30px" class="button mx-1"> 
       </a>
      </div>
      
 
  </div>
  <br>

  <div class="card-footer text-muted">
    {% for i in "four" %}
        <img src = "static/landing_img/card/star.png" height ="20px" width="20px" class="button mx-1"> 
    {% endfor %}
  </div>
</div>


</div>
</div>





</div>
<br>
<br>
<br>


{% endblock body %}



</html>