
<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

      
    </style>
   
  </head>
  
    <body style="background:#f8f8ff">

    {% extends 'base.html' %}

    {% block body %}

    <br><br><br>
    <div class='container mx-1'>
    <div class="row">
        <div class="col-md-12 col-lg-2 "></div>

        <div class="col-md-12 col-lg-7 text-center fs-1 mt-5 ">
        <h1  style="font-family: 'Fredoka One', cursive; " class="animate__animated animate__fadeInDown">
            Share your presence with our digital cards
        </h1>
        <br>
         <p class = "my-0 py-1 text-center"  style="font-family: 'Open Sans', cursive;font-size:18 ">
           Simple solution for content creators at one place
        </p>
        <p class = "my-1 py-2 text-center"  style="font-family: 'Open Sans', cursive;;font-size:18 ">
           Make your own <span style="color:#8980e2"> buisness card </span>  & stand out in pool of content
        </p>
      <br>
        <div>
            <button type="button" class="btn btn-dark" data-mdb-ripple-color="dark">Get Started </button>
        </div>
        </div>

        <div class="col-md-12 col-lg-3">
    <center>
      <div class="container " >
         <img style="display: flex; align-items: center;"  src="static/landing_img/hike.svg" class="img " height="450px" width="280px" alt="..." />
      </div>
    <center>

         </div>
         </div>
    </div>
    </div>

    <br><br>
    <br><br>

    <div class="container">
      <div class="row">
       <div class ="col-lg-1"></div>
          <div class ="col-lg-4">
          <center>
              <img class="img" src="static/landing_img/man.svg" height="350px" width="380px"/>
              </center>
          </div>
          <div class="col-lg-6">
          <center>
          <h1 style="font-family: 'Fredoka One', cursive;">Finding hard to manage cards ?</h1>
          <p  style="font-family: 'Open Sans', cursive;;font-size:18 "><span style="color:#6c63ff"  style="font-family: 'Open Sans', cursive;font-size:18 " > Powerfull solution for  content creators to promote themself. </span><br><br>
          Compress all your personal and professional info into just one link for
          Hastle free sharing and branding yourself . <br>

          Learn more about digital cards for content creaters <a style="color:blue"> here </a>
          </p>
          </center>
          </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class = "container">
    <div class = "row">
    <div class="col-lg-0"></div>

    <div class = "col-lg-5  " >

    <center>
    <h1 style="font-family: 'Fredoka One', cursive; margin-top:50px" class="">Rocking cards !</h1>
    <br>

    <p class="h5 mb-2" >Easy Profile Setup</p>
    <p class="mb-2"  style="font-family: 'Open Sans', cursive;font-size:16 ">Easy profile setup in dashboard to map all the links to card . Cardfy provides almost every important social,personal and business profiles to link with </p>
    <p class="h5 mb-2"  >Smart Sharing Options</p>
    <p  style="font-family: 'Open Sans', cursive;;font-size:16 ">Smart sharing using QR Codes  <img src = "static/landing_img/card/qr-code.png" height ="20px" width="20px" class="button mx-1"><br> and unique sharing links<br>


    </p>
    <p class="h5 mb-2" >Payment Support</p>
    <p style="font-family: 'Open Sans', cursive;;font-size:16 ">Cardfy supports various payment/funding<br>methods such as
    <img src = "static/landing_img/card/upi.png" height ="40px" width="40px" class="button mx-1">
     <img src = "static/landing_img/card/gpay.png" height ="20px" width="40px" class="button mx-1">
    <img src = "static/landing_img/card/paytm.png" height ="40px" width="40px" class="button mx-1">

    <br>So, No more stress about sharing payment details </p>

    <p class="h5 mb-2">Verified & Genuine Profiles</p>
   <p style="font-family: 'Open Sans', cursive;;font-size:16 "> Cardfy varified profiles <img src = "static/landing_img/card/verified.png" height ="20px" width="20px" class="button mx-1"> are symbol of genuine card<br>
    allowing users to check if the card is valid or not .Cardfy also provides rating support for popularity checks <img src = "static/landing_img/card/star.png" height ="20px" width="20px" class="button mx-1">
   </p>
   
    <br>
    <br>

    <p> <img src = "static/landing_img/playStore.png"  height="70px" width="190px" class="img button mx-1"> </p>
    <center>




    </div>
    <div class = "col-lg-5 "  style="margin:auto;">

    {% comment %} card front starts here  {% endcomment %}
    <div id ="card-front" class="card  text-center">
      <div class="card-header ">
                            Cardfy varified creator
                            <img src = "static/landing_img/card/verified.png" height ="20px" width="20px" class="mx-1">
                            
                            <span style="float:right" id="flipBack"> <img src = "static/landing_img/card/rotation.png" height ="20px" width="20px" class="mx-1"></span>
                            
                            </div>
      
      
      <div class="card-body ">

        <p class="card-text">
                 <img class="rounded-circle z-depth-2 " alt="100x100" src="https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png"
                        data-holder-rendered="true" height="255px" width="255px">
        </p>

        <h4>Stifnie Roger</h4>
        <p style="font-family: 'Architects Daughter', cursive;">Vlogger  <img src = "static/landing_img/card/youtube.png" height ="20px" width="20px" class="mx-1">
        | Caring<img src = "static/landing_img/card/passion.png" height ="20px" width="20px" class="mx-1">
        | Nature lover  <img src = "static/landing_img/card/nature.png" height ="20px" width="20px" class="mx-1">
        </p>

        <div class ="text-muted" style="font-family: 'Open Sans', sans-serif;">
            Hey ! I am currently working as full time vlogger. It's too fun to meet new people everyday, you are one the the most valuable  out there <br><br>
            Checkout my social profiles and do follow me ! <br>
        </div>
        <br>
        <div class = "row">
          <div class ="col -lg-3"></div>

          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/facebook.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/instagram.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/twitter.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>

          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/linkedin.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
              <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/whatsapp.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
              <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/gmail.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-3"></div>


      </div>
      <br>
     <div class ="text-muted" style="font-family: 'Open Sans', sans-serif;">
            I am also an environment activist trying to make things better for those who dont speak but had lot to speak

        </div>
      <div class="card-header text-muted">
        {% for i in "four" %}
            <img src = "static/landing_img/card/star.png" height ="20px" width="20px" class="button mx-1">
        {% endfor %}
      </div>
    </div>


    </div>

    {% comment %} card front ends here {% endcomment %}





    <div id="card-back" class="card">
      <div class="card-header text-center ">
                            Cardfy varified creator 
                                <span style="float:left" id="flipFront"> <img src = "static/landing_img/card/rotation.png" height ="20px" width="20px" class="mx-1"></span>
                            <img src = "static/landing_img/card/verified.png" height ="20px" width="20px" class="mx-1">
                            
                            
                            </div>
                          
      
      <div class="card-body ">

        <p class="card-text">
            
         
                <div id="map-container" class="z-depth-1 map-container mb-5"  >
                 <iframe style="width:100%" src="https://maps.google.com/maps?q=Hauz Khas New Delhi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
                
                </div>
 

        </p>

        <h6>Let's Meet Up </h6>
        <p style="font-family: 'Open Sans', cursive;">
        Main Market Market Ln Block E, Hauz Khas New Delhi, Delhi 110016 
        </p>
         <h6>Praise me  <img src ="static/landing_img/card/clap.png" heiht="25px" width="25px"/>
         
         </h6> 
         <p>
  <div class = "row">
          <div class ="col -lg-4"></div>

          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/upi.png" height ="40px" width="40px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/gpay2.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/phone_pay.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>

          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/paytm.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          
          
          <div class ="col -lg-4"></div>


      </div>

         </p>
       
        <div class ="text-muted" style="font-family: 'Open Sans', sans-serif;">
            Working for varoius social cause is not so easy when it comes to funding , we are raising funds for planting and caring  10K trees this year.Show your support by contributing .
            
             <br>
        </div>
        <br>
           <h6>Join me at<img src ="static/landing_img/card/cap.png" heiht="25px" width="25px"/>
         
         </h6> <br>
        <div class = "row">
          <div class ="col -lg-4"></div>

          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/discord.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/slack.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/skype.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>

          <div class ="col -lg-1">
          <a class="button">
            <img src = "static/landing_img/card/youtube.png" height ="30px" width="30px" class="button mx-1">
           </a>
          </div>
            
          <div class ="col -lg-4"></div>


      </div>
      <br>
<br>
      <div class="card-header text-muted text-center">
        {% for i in "four" %}
            <img src = "static/landing_img/card/star.png" height ="20px" width="20px" class="button mx-1">
        {% endfor %}
      </div>
    </div>


    </div>
    {% comment %} back end {% endcomment %}
    </div>

    </div>
    </div>



    <br>
    <br>
    <br>
    <div>
    <script>
    $(document).ready(function(){
      $("#card-back").hide();
    $("#flipBack").click(function(){
      $("#card-front").fadeOut(1000,function(){
        $("#card-back").fadeIn(1000);

      });
    });

    $("#flipFront").click(function(){
      $("#card-back").fadeOut(1000,function(){
        $("#card-front").fadeIn(1000);

      });
    });

    });
  </script>
  {% endblock body %}
</html>
