<html>
  <head>
    <script>
      function previewFile() {
        var preview = document.querySelector("img");
        var file = document.querySelector("input[type=file]").files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
          preview.src = reader.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        } else {
          preview.src = "";
        }
      }
    </script>
  </head>

  {% extends 'base.html' %} {% block body %}
  <br />
  <br />
  <br />
  <br />
  <center>
    <div class="container card">
      <div class="row">
        <div class="col-lg-1 col-md-12">
          <center>
            <img
              class=""
              src="/static/landing_img/img4.png"
              height="600px"
              width="600px"
            />
          </center>
        </div>
        <div class="col-lg-5 col-md-12"></div>

        <div class="col-lg-5 col-md-12">
          <!-- Default form login -->
          <form
            class="text-center p-5"
            method="post"
            action=""
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <p class="h4 mb-4" style="font-family: 'Fredoka One', cursive">
              Register
            </p>

            <input
              name="name"
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Full Name"
              required
            />
            <!-- Email -->
            <input
              name="email"
              type="email"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="E-mail"
              required
            />
            <!-- username -->
            <input
              name="username"
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Username"
              required
            />
            <!-- Password -->
            <input
              name="password"
              type="password"
              id="defaultLoginFormPassword"
              class="form-control mb-4"
              placeholder="Password"
              required
            />
            <input type="file" name="files" accept="image/*" />

            <div class="d-flex justify-content-around">
              <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="defaultLoginFormRemember"
                  />
                </div>
              </div>
              <div>
                <!-- Forgot password -->
              </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-dark btn-block my-4" type="submit">
              Sign in
            </button>

            <!-- Register -->
            <p>
              Already have an account ?
              <a href="/login">login</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>

            <a href="#" class="mx-2" role="button"
              ><i class="fab fa-facebook-f light-blue-text"></i
            ></a>
            <a href="#" class="mx-2" role="button"
              ><i class="fab fa-twitter light-blue-text"></i
            ></a>
            <a href="#" class="mx-2" role="button"
              ><i class="fab fa-linkedin-in light-blue-text"></i
            ></a>
            <a href="#" class="mx-2" role="button"
              ><i class="fab fa-github light-blue-text"></i
            ></a>
          </form>

          <!-- Default form login -->
        </div>
      </div>
    </div>
  </center>

  {% endblock body %}
</html>
